<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
	<header class="intro-header"
		style="background-image: url('/img/blog/home-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>BootDo Blog</h1>
						<span class="subheading">bootdo 博客</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="input-group" style="margin-bottom: 25px;">
    			<input type="text" id="keyword" class="form-control" placeholder="请输入文章关键词">
    			<span class="input-group-btn">
        		<button class="btn btn-primary" id="searchBtn" type="button">搜索</button>
    			</span>
				</div>
					<div class="panel panel-default" style="margin-bottom: 25px;">
					<div class="panel-heading">
						<strong>热门文章排行</strong>
					</div>
					<ul class="list-group" id="hotArticleList">
					</ul>
					</div>
				<div id="incomeNum"></div>
				<div class="clearfix">
					<p id="flagLoaded" style="display: none; text-align: center;">已全部加载</p>
					<a id="flagLoad" style="display: none;" class="btn btn-secondary float-right" 
						href="javascript:void(0)" onclick="nextPage()">更早 &rarr;</a>
				</div>
			</div>
		</div>
	</div>
	</body>
	<div th:include="blog/index/include_blog::footer"></div>
	<script type="text/javascript">
		var limit = 10;
		var currentPage = 0;
		var total;
		$(function(){
			bindList(0);
			bindHotArticles();
			$("#searchBtn").click(function () {
    		currentPage = 0;
    		total = 0;
    		$("#incomeNum").empty();
    		$("#flagLoaded").hide();
    		$("#flagLoad").hide();
    		bindList(0);
			});
			$("#keyword").keydown(function (event) {
						if (event.keyCode == 13) {
						$("#searchBtn").click();
			}

});
		});

		function nextPage() {
			bindList(currentPage * limit)
		}
		function bindList(offset) {
			$
				.ajax({
					url : 'blog/open/list?type=article&limit=10&offset=' + offset + '&keyword=' + encodeURIComponent($("#keyword").val() || ''),
					method : 'get',
					dataType : 'json',
					success : function(data) {
						var rows = data.rows;
						total = data.total;
						var htmlText = "";
						for (i = 0; i < rows.length; i++) {
							htmlText += '<div class="post-preview">';
							htmlText += '<a href="/blog/open/post/' + rows[i].cid + '">';
							htmlText += '<h2 class="post-title">';
							htmlText += rows[i].title;
							htmlText += '</h2>';
							htmlText += '</a>';
							htmlText += '<p class="post-meta">作者：<a href="#">'
							+ rows[i].author
							+ '</a> &nbsp;&nbsp; '
							+ rows[i].gtmModified
							+ ' &nbsp;&nbsp; 阅读量：'
							+ (rows[i].hits == null ? 0 : rows[i].hits)
							+ ' &nbsp;&nbsp; 点赞数：'
							+ (rows[i].likes == null ? 0 : rows[i].likes)
							+ '</p>';
							if (rows[i].tags != null && rows[i].tags != '') {
    						var tags = rows[i].tags.split(',');
							htmlText += '<p class="post-tags">';
							for (var j = 0; j < tags.length; j++) {
								htmlText += '<span class="label label-info" style="margin-right: 6px;">'
									+ tags[j]
									+ '</span>';
							}
							htmlText += '</p>';
						}
							htmlText += '</div>';
							htmlText += '<hr>';
						}
						if (rows.length == 0 && offset == 0) {
   						 htmlText = '<p class="text-center text-muted">没有找到相关文章</p>';
						}
						$("#incomeNum").append(htmlText);
						document.getElementById("flagLoad").style.display = "block";
						currentPage++;
						if (total <= currentPage * limit) {
							document.getElementById("flagLoaded").style.display = "block";
							document.getElementById("flagLoad").style.display = "none";
						}
					}
				});
		}
		function bindHotArticles() {
    $.ajax({
        url: 'blog/open/list?type=article&limit=5&offset=0&sort=hits&order=desc',
        method: 'get',
        dataType: 'json',
        success: function(data) {
            var rows = data.rows;
            var htmlText = "";

            if (rows.length == 0) {
                htmlText = '<li class="list-group-item text-muted">暂无热门文章</li>';
            }

            for (var i = 0; i < rows.length; i++) {
                htmlText += '<li class="list-group-item">';
                htmlText += '<span class="badge">' + (rows[i].hits == null ? 0 : rows[i].hits) + ' 阅读</span>';
                htmlText += '<a href="/blog/open/post/' + rows[i].cid + '">';
                htmlText += (i + 1) + '. ' + rows[i].title;
                htmlText += '</a>';
                htmlText += '</li>';
            }

            $("#hotArticleList").html(htmlText);
        }
    });
}
	</script>


</html>
