<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav" class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>

	<header class="intro-header" style="background-image: url('/img/blog/post-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 th:text="${bContent.title}"></h1>

						<span class="meta">
							作者 <a href="#" th:text="${bContent.author}"></a>
							&nbsp;&nbsp;
							<a href="#" th:text="${gtmModified}"></a>
							&nbsp;&nbsp;
							阅读量：<span th:text="${bContent.hits}">0</span>
						</span>

						<p class="post-tags"
						   th:if="${bContent.tags != null and bContent.tags != ''}"
						   style="margin-top: 15px;">
							<span class="label label-info"
								  style="margin-right: 6px;"
								  th:each="tag : ${#strings.arraySplit(bContent.tags, ',')}"
								  th:text="${tag}">
							</span>
						</p>

						<p style="margin-top: 15px;">
							<button id="likeBtn" class="btn btn-primary btn-sm" type="button">
								<i class="fa fa-thumbs-up"></i>
								点赞
							</button>
							<span style="margin-left: 10px;">
								点赞数：
								<span id="likeCount" th:text="${bContent.likes == null ? 0 : bContent.likes}">0</span>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</header>

	<article>
		<div class="container">
			<div class="col-sm-11">
				<div id="content" th:utext="${bContent.content}"></div>
			</div>
		</div>
	</article>

	<hr>

	<div th:include="blog/index/include_blog::footer"></div>

	<script type="text/javascript" th:inline="javascript">
		$().ready(function() {
			var cid = /*[[${bContent.cid}]]*/ 0;

			$("#likeBtn").click(function () {
				$.ajax({
					type: "POST",
					url: "/blog/open/post/" + cid + "/like",
					success: function (res) {
						if (res.code == 0) {
							$("#likeCount").text(res.likes);
						} else {
							alert(res.msg || "点赞失败");
						}
					}
				});
			});
		});
	</script>
</body>
</html>